@keyframes l6 {
  to {
    text-shadow: -11ch 0 var(--c), 0ch 0 var(--c)
  }
}
.loader2 {
  margin: 0 auto;
  --c: white;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  overflow: hidden;
  text-shadow: 0 0 var(--c), 11ch 0 var(--c);
  animation: l6 2s infinite linear;
}


.loader2:before {
  content: "Loading..."
}
.avatar {
  width: 20%;
  height: 20%;
  align-self: center;
  border-radius: 50%;
}
.descr {
  width: 50%;
  text-align: center;

}
.user-details{
  padding: 0;
};

.BackBtn {
  width: 10%;
  margin-left: 5px;
}
.BackBtn a {
  width: 100%;
}


.UserData {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;

}


.statistics {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  width: 80%;
  

}


.UserData h1 {
  height: fit-content;
}


h1,
p {
  line-height: 1.5;
}

.other-info {

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  cursor: pointer;


}

.other-info li:hover {
  transform: translateY(-10px);
}

.other-info li {
  background: rgba(238, 130, 238, 0.2);
  padding: 20px;
  transition: all .3s;
}



@media(max-width:769px) {
  .avatar {

    width: 30%;
    height: 30%;
    border-radius: 50%;


  }

  .UserData {

    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
  }

  .UserData ul {
    display: contents;

  }

  .UserData li {
    margin-bottom: 15px;
  }
}

li {
  list-style: none;

}

.user-details ul {

  width: fit-content;
  font-size: large;

}

.user-details li {
  text-align: center;

  font-weight: bold;
  color: pink
}